

/* Main Background */
.theme--dark.v-sheet {
    background-color: rgba(0, 0, 0, 0.55)!important;
    backdrop-filter: blur(12px);
    border: none!important;
    box-shadow: none!important;
}

/* Titlebar Transparancy & Blur */
.theme--dark.v-app-bar.v-toolbar.v-sheet {
    background-color: rgba(0, 0, 0, 0.32)!important;
    backdrop-filter: blur(10px);
}

/* Sidebar Active Right Highlight */
.active-nav-item[data-v-640efc00]
{
    border-right: 4px solid #f32121;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: rgb(100, 200, 500);
}

/* Sidebar Active BG */
.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon { 
  color:rgb(100, 200, 500);
  /* color:inherit; */
}

/* Sidebar */
.theme--dark.v-list 
{
  color: #ff1414;
}

/* Sidebar Main Shade */
.theme--dark.v-application,
.theme--dark.v-navigation-drawer,
.v-navigation-drawer__image>.v-image>.v-image__image.v-image__image--cover {
    /* background: rgba(0, 0, 0, 0.32); */
    background: transparent;
    /* background-image: none!important; */
    border: none!important;
    box-shadow: none!important;
}

/* Sidebar Blur */
.theme--dark.v-navigation-drawer,
.v-color-picker__controls {
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(10px);
}

/* Sidebar Boarder */
.v-navigation-drawer__border {
    width: 0;
}


/* Power Menu */
.v-menu__content {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.35)!important;
    backdrop-filter: blur(10px);
}


/* Card Transparancy */
.v-application .panel .theme--dark.v-toolbar.v-sheet,
.theme--dark.v-data-table,
.theme--dark.v-tabs>.v-tabs-bar,
.theme--dark.v-tabs-items,
.settings-tabs .theme--dark.v-sheet,
.v-sheet.v-list,
.v-card>*:first-child:not(.v-btn):not(.v-chip):not(.v-avatar), .v-card>.v-card__progress+*:not(.v-btn):not(.v-chip):not(.v-avatar),
.filesJobqueue.theme--dark.v-sheet,
.filesGcodeCard.theme--dark.v-sheet,
.cm-gutters
{
    backdrop-filter: blur(0px);
    background-color: transparent !important;
    border: none!important;
    box-shadow: none!important;
}

/* Editor Transparancy */
.cm-editor {
    backdrop-filter: blur(20px);
    background-color: rgba(15, 12, 15, 0.8) !important;
    border: none!important;
    box-shadow: none!important;
}

/* Editor sidebar */
.theme--dark.v-treeview {
  color:#ddd;
}

.theme--dark.v-icon {
  color:#ddd;
}

.theme--dark.v-icon.v-icon.v-icon--disabled {
  color:#86868680!important;
    /* color:#ffffff80!important */
}
.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color:#ddd;
}

/* warning/error box */
.v-sheet.v-alert {
  border-radius:10px;
}

/* Text & icons */
.theme--dark.v-application .text--primary {
  color:#ddd!important;
}
.theme--dark.v-application .text--secondary {
  color:#d7d7d7!important;
}
.theme--dark.v-application .text--disabled {
  color:#d7d7d7!important;
}
.theme--dark.v-sheet {
  background-color:#1e1e1e;
  border-color:#1e1e1e;
  color:#ddd;
}
.theme--dark.v-card {
  background-color:#1e1e1e;
  color:#ddd;
}
.theme--dark.v-data-table {
  background-color:#1e1e1e;
  color:#ddd;
}

.webcamFpsOutput {
    bottom: 6px!important;
    right: 8px!important;
    background-color: rgba(0, 0, 0, 0.33)!important;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 0px
}

/* Button radius */
.v-btn {
    border-radius: 8px;
}

/* Panel radius */
.v-dialog,
.v-sheet.v-card,
.v-tooltip__content.menuable__content__active {
    border: none;
    border-radius: 15px!important;
}

/* Log buttons */
.v-application .grey.darken-3.v-btn,
.v-btn,
.v-btn-toggle {
    box-shadow: none!important;
    background-color: transparent !important;
}

/* List separators */
.consoleTable[data-v-3946c1f9],
.theme--dark.v-divider,
.theme--dark.v-data-table .v-data-footer,
.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row), .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row),
.theme--dark.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th,
.consoleTableRow.default+.consoleTableRow .col,
.echarts-tooltip .py-1,
.v-btn--outlined,
.history-list .history-list-entry+.history-list-entry[data-v-6af64ef2]
{
    border: none!important;
}

/* Console field */
.v-input__slot {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
}

/* Temp Chart Pointer Window */
.echarts-tooltip {
    background-color: rgba(0, 0, 0, 0.43)!important;
    backdrop-filter: blur(10px);
    border: none!important;
    box-shadow: none!important;
}


/* File select menu */
.v-application .panel {
    background-color: rgba(25, 30, 30, 0.6)!important;
    backdrop-filter: blur(13px);
    box-shadow: none!important;
    border: none;
}


/* .v-sheet.v-list 
{
    backdrop-filter: blur(10px);
    background-color: transparent !important;
    border: none!important;
    box-shadow: none!important;
} */

/* .theme--dark.v-data-table 
{
    backdrop-filter: blur(0px);
    background-color: transparent !important;
    border: none!important;
    box-shadow: none!important;
} */
